@import url('https://fonts.googleapis.com/css2?family=Alef:wght@700&family=Caveat&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
a:active{
    color: #d53a3a;
}
